---
---

@import "{{ site.theme }}";

.title {
text-decoration: underline;


}

img {
border: 1px solid #b5e853;
border-radius: 8px;
padding: 5px;
width: 400px;

}

nav {
background: #151515;

}

nav a {
color: #b5e853;
text-align: center;
padding: 14px 16px;
text-shadow: 2px 2px 8px #b5e853;
}

nav a:hover {
background-color: #333;
}
